.contact__form,
.contact__cta {
	width: 100%;

	@include query(900px) {
		width: 49%;
	}
}

.contact__form {
	background: url("../img/form.jpg") no-repeat center / cover;

	form {
		margin: 0;
		padding: $space-base;

		@include query(900px) {
			padding: $space-medium;
		}

		h4 {
			text-align: center;
		}
	}
}

.contact__cta {
	background: url("../img/contact-cta.jpg") no-repeat center / cover;
	position: relative;
	text-align: center;
	padding: $space-medium 0;
	margin-bottom: $space-out-medium;

	@include query(900px) {
		margin-bottom: 0;
	}

	@include query(900px) {
		div {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			p {
				position: absolute;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}