header {
	padding-bottom: $space-medium;
}

.header__what-is,
.header__cta {
	width: 100%;

	@include query(900px) {
		width: 49%;
    }
}

.header__what-is {
	background: url("../img/header.jpg") no-repeat center / cover;
	padding: $space-small 0 $space-small $space-small;
	margin-bottom: $space-out-medium;

	@include query(900px) {
		margin-bottom: 0;
	}
} 

.header__what-is__text {
	background-color: #fff;
	color: $color-texts;
	padding: $space-small;
	width: 95%;

	@include query(900px) {
		width: 65%;
    }
}

.header__cta {
	background-color: $color-accent;
	padding: $space-small;
	position: relative;
	z-index: 5;
}

.header__cta-content {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 65%;

	@include query(900px) {
		width: 65%;
    }
}

.header__cta-img {
	opacity: .1;

	&:nth-child(3) {
		margin-top: $space-out-x-large;

		@include query(500px) {
			margin-top: 0;
		}

		@include query(900px) {
			bottom: 6%;
			position: absolute;
		}
	}
}